@model List<WebMvc.Model.BBSAdmin.UserTable>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @foreach (var item in Model)
    {
        @item.UserName
        <br/>
    }
    <script>
        $(function () {
            $.ajax({
                url: "http://localhost:8080/FAS/login!loginInfo.action?username=admin&password=11111111",
                type: "GET",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                }
            });
        })
        </script>
</div>
